
<style type="text/css">
	#profile_picture {
		  border-radius: 100000px;
		  border: 1px black solid;
		  overflow: hidden;
		  width:250px;
		  height:250px;
		  margin: auto;
	}
	#user_title {
		text-align: center;
		margin-bottom:100px;
		margin-top: 50px;
	}

	#contact_info {
		border: 3px solid gray;
		padding: 20px;
		width: 400px;
		text-align: center;
		margin: auto;
	}
</style>
<div class="row" ng-Controller="UserProfileController">

	<div id="profile_picture">
		<img src="http://www.bdu.edu.et/emti/sites/bdu.edu.et.emti/files/default_images/no-profile-img.gif" width = "250" height = "250"> <!-- pic source link from database -->
	</div>

	<div id="user_title">
		<h1> {{authentication.user.name}} </h1>
		<p><em>Joined <a href="#">{{authentication.user.location}}</a> Chapter in {{authentication.user.created_at.substring(0,4)}}</em></p>
	</div>

	<div id="contact_info">
		<h3> Contact Info </h3>
		<p>Email: {{authentication.user.email}}</p>
		<form ng-show="admin_access">
			Email: <input type="text" placeholder="{{authentication.user.email}}" ng-model ="authentication.user.email">
			<input type="submit" value="Edit" ng-click="editEmail(user._id)">
		</form>
		<br>
		<p>Status: Administrator</p>
	</div>

<div>